<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahmoud.todoapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">


        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".AddEventsActivity"
            android:theme="@style/ActionMode">

        </activity>

        <activity
            android:name=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddTasksActivity"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/dateTime.style" />
        <activity
            android:name=".AddEventsActivity"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/dateTime.style" />
        <activity
            android:name=".DetailsEventsActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".DetailsTasksActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".TestActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight">

        </activity>
    </application>

</manifest>